body {
	color: #ebefb8;
	background-color: #ebefb8;
}

.container {
	max-width: 600px;
	width: 70%;
	text-align: center;
	margin: 50px auto;
	padding: 80px 50px;
	background-color: #1c4a93
}

h1 {
	text-decoration: underline;
}

p {
	text-decoration: underline;
}